
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
}
    .section-top {
        display: flex;
        flex-basis: 80%;
        flex-direction: row;
    }
        .section-logo {
            flex-basis: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        } .section-logo img {
            margin: 15px 0 15px 15px;
            min-width: 125px;
        }
        .section-middle {
            display: flex;
            flex-direction: column;
            flex-basis: 60%;
            justify-content: center;
            width: 100%;
            margin: 15px 0;
        }
            .middle-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 15px;
            }
                .section-middle > span,
                .section-middle > small, 
                .section-middle > div {
                    font-size: 2.3rem;
                    font-weight: bold;
                    text-transform: uppercase;
                    margin-left: 15px;
                }
            .middle-top {
                display: flex;
                flex-direction: column;
                flex-basis: auto;
                font-size: 2.3rem;
                font-weight: bold;
                text-transform: uppercase;
                padding: 0 15px;
            }
            .section-middle small {
                color: #666;
                margin-bottom: 5px;
                font-size: 1.2rem;
                text-transform: uppercase;
                font-weight: bold;
            }
            .middle-bottom {
                flex-basis: 30%;
                padding: 5px 15px 0 15px;
            }
            #title {
                background-color: black;
                padding: 10px 10px 8px 10px;
                margin-top: 5px;
                font-weight: initial;
            }
                #title > span {
                    display: block;
                    color: white;
                    text-transform: uppercase;
                    font-size: 1.2rem;
                } #title > span.hidden {
                    display: none;
                }
        .section-sidebar {
            display: flex;
            flex-direction: column;
            flex-basis: 10%;
        }
            .social-links {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex-grow: 1;
                margin-left: 15px;
                margin-bottom: 2px;
            } .social-links:hover {
                background-color: red;
            }
                .social-links img {
                    width: 20px;
                    margin: 0 10px;
                }
                .linkedin {
                    border-right: 2px solid #1D87BD;
                } .linkedin:hover {
                    background-color: #DAE9F0;
                }
                .twitter {
                    border-right: 2px solid #1DA1F2;
                } .twitter:hover {
                    background-color: #D4E6F2;
                }
                .github {
                    border-right: 2px solid #333;
                } .github:hover {
                    background-color: #ddd;
                }
                .instagram {
                    border-right: 2px solid #E02A5F;
                } .instagram:hover {
                    background-color: #FFD0DE;
                }
    .section-navigation {
        display: flex;
        align-items: stretch;
        flex-basis: 20%;
        flex-direction: row;
        justify-content: space-between;
        border-top: 1px solid black;
    }
        .nav-block {
            display: flex;
            flex-direction: row;
            flex-grow: 1;
            justify-content: center;
            align-items: stretch;
            }
            .nav-block a {
                display: flex;
                padding: 15px 20px;
                flex-direction: column;
                justify-content: center;
                text-decoration: none;
                border-bottom: 2px solid white;
            } .nav-block a:hover {
                background-color: #eee;
                border-bottom: 2px solid gray;
            }