
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    width: 52%;
    height: 33%;
}
    .section-top {
        display: flex;
        flex-basis: 80%;
        flex-direction: row;
    }
        .section-logo {
            flex-basis: 30%;
            border-right: 1px solid black;
        }
        .section-middle {
            display: flex;
            flex-direction: column;
            flex-basis: 60%;
        }
            .middle-top {
                display: flex;
                flex-direction: column;
                flex-basis: auto;
                font-size: 2.3rem;
                font-weight: bold;
                text-transform: uppercase;
                padding: 0 15px;
            }
            small {
                color: #666;
                margin-top: 15px;
                margin-bottom: 5px;
                font-size: 1.2rem;
            }
            .middle-bottom {
                flex-basis: 30%;
                padding: 5px 15px 0 15px;
            }
            #title {
                background-color: black;
                color: white;
                text-transform: uppercase;
                padding: 7px 10px 5px 10px;
            }
        .section-sidebar {
            display: flex;
            flex-direction: column;
            flex-basis: 10%;
        }
            .social-links {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex-grow: 1;
            }
                .social-links img {
                    width: 24px;
                }
    .section-navigation {
        display: flex;
        align-items: stretch;
        flex-basis: 20%;
        flex-direction: row;
        justify-content: space-between;
        border-top: 1px solid black;
    }
        .nav-block {
            display: flex;
            flex-direction: row;
            flex-grow: 1;
            justify-content: center;
            align-items: stretch;
            }
            .nav-block a {
                display: flex;
                padding: 0 20px;
                flex-direction: column;
                justify-content: center;
                text-decoration: none;
                border-bottom: 2px solid white;
            } .nav-block a:hover {
                background-color: #eee;
                border-bottom: 2px solid gray;
            }