html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
nav {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 90px 5px 20px;
    font-size: 1.4rem;
    border: 1px solid black;
}
.nav-title {
    text-decoration: none;
}
.dropdown-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.dropdown {
    margin-left: 10px;
}
.content-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 20px;
}
.card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 25%;
    min-height: 100px;
    width: 20%;
    min-width: 100px;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 20px;    
    border: 1px solid black;
} .card:last-child {
    margin-bottom: 0;
    margin-right: 0;
}
.card-top {
    flex-basis:70%;
    display: flex;
    flex-direction: column;
    padding: 10px;
} .card-top * {border: 1px solid black;} 
.card-top-number {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 10px;
} .card-top-number::before {
    position: relative;
    top: -1rem;
    left: 0.5rem;
    content: "#";
    font-size: 1.75rem;
    color: gray;
}
.card-top-name {
    margin-bottom: 5px;
}
.card-bottom {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    border-top: 1px solid black;
}