* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    font-family: sans-serif;
}
body, nav {
    display: flex;
}
nav, nav * {
    border: 1px solid black;
}
.content {border: 1px solid black;}
@media screen and (max-width: 767px) {}
@media screen and (min-width: 768px) and (max-width: 991px) {
    body {
        flex-direction: column;
    }
    nav {
        flex-direction: row;
    }
    #logo {
        width: 30px;
    }
}
@media screen and (min-width: 992px) {
    body {
        flex-direction: row;
    }
    nav {
        flex-basis: 20%;
        flex-direction: column;
        margin-right: 20px;
        justify-content: space-between;
    }
    #logo {
        margin: 40px 0;
        height: 100px;
        width: 100px;
        align-self: center;
    }
    .links {
        border: none;
    }
    .link-container {
        margin-bottom: 20px;
    }
    .link-container > span {
        display: block;
        padding: 6px 5px;
        font-size: 2.25rem;
        margin-left: 60px;
        border: none;
    }
    .link-container > ul {
        margin-bottom: 0;
    }
    .link-container > ul > li {
        font-size: 2rem;
        padding: 5px 4px;
    }
    .social {
        display: flex;
        direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        width: 102px;
        align-self: center;
        border: none;
    }
    .social > .social-link {
        width: 40px;
        height: 40px;
        margin-right: 20px;
        margin-bottom: 20px;
    } .social > .social-link:nth-child(2n) {
        margin-right: 0;
    } .social > .social-link:last-child {
        margin-right: 0;
    }
    .content {
        flex-basis: 80%;
    }
}
@media screen and (min-width: 1200px) {
    
}