* {margin: 0; padding: 0;}
html, body {
    height: 100%;   
}
body {
    font-family: sans-serif;
    position: relative;
}
.hidden {
    display: none;
}
.nav-type {
    font-size: 2rem;
}
header {
    border: 1px solid black;
}
.horizontal-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin-left: 10px;
}
.desktop-menu-items > span {
    margin-left: 20px;
}
.menu-button {
    text-transform: uppercase;
    border: none;
    border-bottom: 3px solid black;
    font-weight: bold;
    margin: 10px;
    padding: 6px 3px 3px 3px;
}
@keyframes reveal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.mobile-wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 50px;
}
.reveal-wrapper {
    animation: reveal;
    animation-duration: 1s; 
    opacity: 1;
}
.mobile-translucent-background {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: #999;
} .mobile-translucent-background.enabled {
    opacity: 0.5;
}
.mobile-menu-items {
    z-index: 0;
    opacity: 1;
}
.mobile-menu-items > span {
    display: block;
    padding: 5px 10px;
    margin-top: 10px;
    border: 1px solid black;
}
.content.blurred {
    filter: blur(2px);
}