html, body {margin: 0; padding: 0;}
body * {
    border: 1px solid black;
}
.outerWrapper {
    display: flex;
    flex-direction: row;
}
#logo {
    width: 84px;
    height: 84px;
    flex-basis: auto;
}
.innerWrapper {
    flex-grow: 1;
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    height: 84px;
}
#topRow {
    flex-grow: 1;
    display: flex;
    flex-direction: row-reverse;
}
.heading-flag {
    margin-right: 20px;
}
#navbar {
    flex-grow: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}