body * {
    border: 1px solid black;
}
.outerWrapper {
    display: flex;
    flex-direction: row;
}
#logo {
    width: 96px;
    height: 96px;
    flex-basis: auto;
}
.innerWrapper {
    flex-grow: 1;
    flex-basis: auto;
}